.App {
  text-align: center;
  margin: 0 auto;
  width: 70%;

}

.container{
  background-color: rgb(233, 98, 98);
 
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  display: flex;
  flex-direction: row;
  list-style: none;

}

li{
  padding-left: 0.5em;
}


.input{
  margin-top:2em ;
  background-color: blanchedalmond;
}

.text{
  margin-top: 3em;
  background-color: #61dafb;
}